In [2]:
import numpy as np
import pandas as pd

In [3]:
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [8]:
movies=pd.read_csv('tmdb_5000_credits.csv')
credit= pd.read_csv('tmdb_5000_credits.csv')

In [31]:
movies.head(1)

,movie_id_x,title,cast_x,crew_x,movie_id_y,cast_y,crew_y
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [12]:
movies.shape

(4803, 4)

In [14]:
credit.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [16]:
movies = movies.merge(credit,on='title')

In [17]:
movies.head()

,movie_id_x,title,cast_x,crew_x,movie_id_y,cast_y,crew_y
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [22]:
import ast

In [23]:
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L

In [24]:
movies.dropna(inplace=True)

In [33]:
movies['crew_x'] = movies['crew_x'].apply(convert)
movies.head()

,movie_id_x,title,cast_x,crew_x,movie_id_y,cast_y,crew_y
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[Stephen E. Rivkin, Rick Carter, Christopher B...",19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[Dariusz Wolski, Gore Verbinski, Jerry Bruckhe...",285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[Thomas Newman, Sam Mendes, Anna Pinnock, John...",206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[Hans Zimmer, Charles Roven, Christopher Nolan...",49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[Andrew Stanton, Andrew Stanton, John Lasseter...",49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [38]:
movies['cast_y'] = movies['cast_y'].apply(convert)
movies.head()

,movie_id_x,title,cast_x,crew_x,movie_id_y,cast_y,crew_y
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[Stephen E. Rivkin, Rick Carter, Christopher B...",19995,"[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[Dariusz Wolski, Gore Verbinski, Jerry Bruckhe...",285,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[Thomas Newman, Sam Mendes, Anna Pinnock, John...",206647,"[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[Hans Zimmer, Charles Roven, Christopher Nolan...",49026,"[Christian Bale, Michael Caine, Gary Oldman, A...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[Andrew Stanton, Andrew Stanton, John Lasseter...",49529,"[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [39]:
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [40]:
def convert3(text):
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            L.append(i['name'])
        counter+=1
    return L

In [43]:
movies['cast_x'] = movies['cast_x'].apply(convert)
movies.head()

,movie_id_x,title,cast_x,crew_x,movie_id_y,cast_y,crew_y
0,19995,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...","[Stephen E. Rivkin, Rick Carter, Christopher B...",19995,"[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[Dariusz Wolski, Gore Verbinski, Jerry Bruckhe...",285,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[Thomas Newman, Sam Mendes, Anna Pinnock, John...",206647,"[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[Christian Bale, Michael Caine, Gary Oldman, A...","[Hans Zimmer, Charles Roven, Christopher Nolan...",49026,"[Christian Bale, Michael Caine, Gary Oldman, A...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[Andrew Stanton, Andrew Stanton, John Lasseter...",49529,"[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [45]:
movies['cast_x'] = movies['cast_x'].apply(lambda x:x[0:3])

In [46]:
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [48]:
movies['crew_y'] = movies['crew_y'].apply(fetch_director)

In [49]:
movies.sample(5)

,movie_id_x,title,cast_x,crew_x,movie_id_y,cast_y,crew_y
4291,84197,Filly Brown,"[Resmine Atis, Baby Bash, David Bianchi]","[Michael D. Olmos, Youssef Delara]",84197,"[Resmine Atis, Baby Bash, David Bianchi, Jorge...","[Michael D. Olmos, Youssef Delara]"
1801,2057,Original Sin,"[Angelina Jolie, Antonio Banderas, Gregory Itzin]","[Rodrigo Prieto, Denise Di Novi, Terence Blanc...",2057,"[Angelina Jolie, Antonio Banderas, Gregory Itz...",[Michael Cristofer]
1610,865,The Running Man,"[Arnold Schwarzenegger, Richard Dawson, María ...","[Harold Faltermeyer, Jackie Burch, Steven E. d...",865,"[Arnold Schwarzenegger, Richard Dawson, María ...",[Paul Michael Glaser]
2193,22074,Capitalism: A Love Story,"[Michael Moore, Thora Birch, William Black]","[Michael Moore, Michael Moore]",22074,"[Michael Moore, Thora Birch, William Black, El...",[Michael Moore]
1354,75531,Isn't She Great,"[Bette Midler, Nathan Lane, Stockard Channing]","[Gary Levinsohn, Barry Malkin, Mark Gordon, Ka...",75531,"[Bette Midler, Nathan Lane, Stockard Channing,...",[Andrew Bergman]

In [50]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [51]:
movies['cast_x'] = movies['cast_x'].apply(collapse)
movies['crew_y'] = movies['crew_y'].apply(collapse)
movies['title'] = movies['title'].apply(collapse)
movies['movie_id_y'] = movies['movie_id_y'].apply(collapse)

<class 'TypeError'>: 'int' object is not iterable

In [52]:
movies.head()

,movie_id_x,title,cast_x,crew_x,movie_id_y,cast_y,crew_y
0,19995,"[A, v, a, t, a, r]","[SamWorthington, ZoeSaldana, SigourneyWeaver]","[Stephen E. Rivkin, Rick Carter, Christopher B...",19995,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[JamesCameron]
1,285,"[P, i, r, a, t, e, s, , o, f, , t, h, e, , C, ...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]","[Dariusz Wolski, Gore Verbinski, Jerry Bruckhe...",285,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[GoreVerbinski]
2,206647,"[S, p, e, c, t, r, e]","[DanielCraig, ChristophWaltz, LéaSeydoux]","[Thomas Newman, Sam Mendes, Anna Pinnock, John...",206647,"[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[SamMendes]
3,49026,"[T, h, e, , D, a, r, k, , K, n, i, g, h, t, , ...","[ChristianBale, MichaelCaine, GaryOldman]","[Hans Zimmer, Charles Roven, Christopher Nolan...",49026,"[Christian Bale, Michael Caine, Gary Oldman, A...",[ChristopherNolan]
4,49529,"[J, o, h, n, , C, a, r, t, e, r]","[TaylorKitsch, LynnCollins, SamanthaMorton]","[Andrew Stanton, Andrew Stanton, John Lasseter...",49529,"[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[AndrewStanton]

In [53]:
def recommend(movie):
    index = new[new['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new.iloc[i[0]].title)

In [ ]:
recommend('Gandhi')